@import "../../commonStyle/index";

.lists {
  padding: 0;
  list-style-type: none;
  @include widthContainer(50%);

  .todo {
    margin: $margin8 0;
    padding: $padding5 $padding10;
    background-color: $light-blue-background;
    @include flexRow();

    .name {
      padding-left: $padding10;
      @include widthContainer()
    }

    .check {
      width: 24px;
      height: 24px;
      border: $border;
    }

    .delete {
      width: 32px;
      height:32px;
      font-size: $fontSize12;
    }
  }
}